<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>对面</title>
  <link rel="stylesheet" type="text/css" href="css/index.css">
</head>

<body>

<div id="canvasWrap">
	<canvas id="canvas">
	</canvas>

	<p id="move"></p>
	<p id="p1"></p>
	<p id="p2"></p>
</div>
</body>

<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript">
window.onload = function(){
	initCanvas();
}


function initCanvas(){
	var canvasWrap = document.getElementById("canvasWrap");
	var canvas = document.getElementById("canvas");
	canvas.width = canvas.offsetWidth;
	canvas.height = canvas.offsetHeight;
	var context = canvas.getContext("2d");

	canvas.style.left = -parseInt(canvas.width/2)+parseInt(canvasWrap.offsetWidth/2)+"px";
	canvas.style.top = -parseInt(canvas.width/2)+parseInt(canvasWrap.offsetHeight/2)+"px";

	var canvasLeft = parseInt(canvas.style.left);
	var canvasTop = parseInt(canvas.style.top);

	document.getElementById("move").innerHTML = "x: " + canvasLeft + " y: "+ canvasTop ;


	var backX;
	var backY;
	canvas.addEventListener("touchstart",function(e){
		e.preventDefault();
		var touch = e.targetTouches[0];

		document.getElementById("p1").innerHTML = e.targetTouches[0].pageX +" "+ e.targetTouches[0].pageY;
		if(e.targetTouches[1]!=null)
		document.getElementById("p2").innerHTML = e.targetTouches[1].pageX +" "+ e.targetTouches[1].pageY;

		if(e.targetTouches[1]==null){

			backX = touch.pageX-canvasLeft;
			backY = touch.pageY-canvasTop;

		}else{
			backX = (e.targetTouches[0].pageX + e.targetTouches[1].pageX)/2-canvasLeft;
			backY = (e.targetTouches[0].pageY + e.targetTouches[1].pageY)/2-canvasTop;
		}
	});
	canvas.addEventListener("touchmove",function(e){
		e.preventDefault();
		var touch = e.targetTouches[0];

		if(e.targetTouches[1]==null){
			context.save();
			context.strokeStyle = "rgb(0,0,0)";
			context.moveTo(backX,backY);
			context.lineTo(touch.pageX-canvasLeft,touch.pageY-canvasTop);
			context.stroke();
			context.restore();

			backX = touch.pageX-canvasLeft;
			backY = touch.pageY-canvasTop;
		}else{
			var nowX = (e.targetTouches[0].pageX + e.targetTouches[1].pageX)/2 -canvasLeft;
			var nowY = (e.targetTouches[0].pageY + e.targetTouches[1].pageY)/2 -canvasTop;

			document.getElementById("move").innerHTML = "x: " + nowX + " y: "+ nowY ;

			canvas.style.left = parseInt(canvas.style.left) + (nowX-backX) + "px";
			canvas.style.top = parseInt(canvas.style.top) + (nowY-backY) + "px";

			canvasLeft = parseInt(canvas.style.left);
			canvasTop = parseInt(canvas.style.top);

			backX = (e.targetTouches[0].pageX + e.targetTouches[1].pageX)/2-canvasLeft;
			backY = (e.targetTouches[0].pageY + e.targetTouches[1].pageY)/2-canvasTop;
		}

	});
	canvas.addEventListener("touchend",function(e){
		
	});
}

</script>

</html>