<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Visitor</title>
</head>
<body>
  
  <p>
    <input type="text" id="visitor-name">
    <button id="visitor-login">login</button>
  </p>
  <p>
    <textarea id="visitor-input"></textarea>
    <button id="visitor-submit">submit</button>
  </p>

  <div id="message-container">
    
  </div>

  <script src="/socket.io/socket.io.js"></script> 
  <script src="../assets/js/tool.js"></script>
  <script src="../assets/js/visitor.js"></script>

</body>
</html>